@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light {
  /* TODO: change name bg-color */
  --bg-white: #ffffff;
  --bg-black: #000000;
  --text-gray-50: #f9fafb;
  --text-gray-100: #F1F5F9;
  --text-gray-200: #e5e7eb;
  --text-gray-300: #d1d5db;
  --text-gray-400: #9ca3af;
  --text-gray-500: #6b7280;
  --text-gray-600: #4b5563;
  --text-gray-700: #374151;
  --text-gray-800: #1f2937;
  --text-gray-900: #111827;
}

.dark {
  --bg-white: #111827;
  --text-gray-50: #111827;
  --text-gray-100: #1f2937;
  --text-gray-200: #374151;
  --text-gray-300: #4b5563;
  --text-gray-400: #6b7280;
  --text-gray-500: #9ca3af;
  --text-gray-600: #d1d5db;
  --text-gray-700: #e5e7eb;
  --text-gray-800: #F1F5F9;
  --text-gray-900: #f9fafb;
  --bg-black: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.CircularProgressbar-text {
  text-anchor: middle;
  alignment-baseline: middle;
  font-weight: 700;
}

/* Firefox */

* {
  scrollbar-width: 5px;
  scrollbar-color: #1f2937;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: #d1d5db;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1f2937;
  border-radius: 15px;
  border: 1px solid #d1d5db;
}

.ql-editor{
  min-height: 150px;
}
.ql-toolbar.ql-snow {
  border: 1px solid #d1d5db;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #d1d5db;
  border-top: 0;
}

p {
  font-size: 14px;
}

a {
  outline: 0;
  ring: 0;
}

.react-datepicker-wrapper {
  width: 100%;
}
